@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  width: 100%;
}

:root {
  --select-bg-color: #b8e2cc
}


.hljs-gerrit-gui-terminal-date {
  color: rgb(93, 169, 216)!important;
}

.hljs-gerrit-gui-terminal-info {
  color: rgb(0, 0, 0)!important;
}

.hljs-gerrit-gui-terminal-debug {
  color: rgb(64, 99, 140)!important;
}

.hljs-gerrit-gui-terminal-success {
  color: rgb(93, 163, 93)!important;
}

.hljs-gerrit-gui-terminal-error {
  color: rgb(241, 97, 97)!important;
}